{{ form_start(form) }}
    {{ form_widget(form) }}
    <span>Recorda per seleccionar més d'un equip o entrenador, manten pulsat CTRL i selecciona els que vulguis.</span>
    <br/>
    <button class="btn">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
