{% extends 'base.html.twig' %}

{% block title %}Edit Entrenador{% endblock %}

{% block body %}
    <h1>Edita Entrenador</h1>

    {{ include('entrenador/_form.html.twig', {'button_label': 'Actualitza'}) }}

    <a href="{{ path('entrenador_index') }}">Torna a la llista</a>

    {{ include('entrenador/_delete_form.html.twig') }}
{% endblock %}
